# Copier ce fichier en .env et remplir les valeurs
# Ne JAMAIS committer le .env sur Git

PORT=3000

# Cosmos DB (à récupérer depuis Azure Key Vault en prod)
COSMOS_ENDPOINT=https://<votre-cosmos>.documents.azure.com:443/
COSMOS_KEY=<votre-clé-cosmos>
COSMOS_DATABASE=ocean-explorer
COSMOS_CONTAINER_OCEANS=oceans
COSMOS_CONTAINER_SPECIES=species

# Environnement
NODE_ENV=development
